[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telepot = "*"
aiohttp = "*"
mypy = "*"
ipython = "*"
python-dateutil = "*"
aiopg = "*"

[dev-packages]

[requires]
python_version = "3.6"
